.body {
  @apply min-h-screen flex justify-center items-center font-courier-prime;

  background: #0A863E;
  background: -webkit-linear-gradient(to top, #05451F, #0A863E);
  background: linear-gradient(to top, #05451F, #0A863E);
}
